.hero {
  min-height: 100vh;
  background-image: url("hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-tagline {
  font-size: 3rem;
}

.intro-icon {
  font-size: 15rem;
  color: blueviolet;
  margin: 0px auto;
}

@media (min-width: 768px) {
  .hero-tagline {
    font-size: 7rem;
  }
}
